<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/cascading">Cascading</NavLink></li>
        <li><a href="/swagger">Swagger (API)</a></li>
        <li><a href="/books" target="_self">GET /books (JSON)</a></li>
    </ul>
</nav>